.product {
  width: 100%;
  margin-bottom: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.product__cover-set {
  width: 490px;
  height: 391px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product__cover {
  display: block;
}

.product__info {
  width: 500px;
  min-height: 361px;
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 106px;
  margin-bottom: 40px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    min-height: 391px;
    left: 57px;
    top: 0;
    bottom: 0;
    background-color: #000000;
  }
}

.product__title {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.product__title-link {
  font: inherit;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: lighten(#000000, 30%);
  }

  &:active {
    color: lighten(#000000, 50%);
  }
}

.product__price {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
}

.product__time {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  color: lighten(#000000, 50%);
}

.product__review {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.product__actions-container {
  width: 100%;
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product__actions-container a {
  margin-right: 20px;
  margin-bottom: 10px;
}
